.checked{
    background-color: rgba(96, 245, 96, 0.075);
}

.checked a:first-child::after{
    content: "DONE";
    color: rgba(0, 201, 0, 0.863);
    font-weight: 600;
}

a:hover{
    text-decoration: none;
}