{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
      <div class="m-5">
        <h2>To Do:</h2>
        <form class="form-inline" method="POST" action="{{path('create')}}">
            <div>
                <input class="form-control" name="title" type="text" placeholder="Enter title here..." />
                <button class="rounded-circle btn btn-success pt-0" type="submit"> <span class="h4"> &plus; </span> </button>
            </div>
        </form>
      </div>

      <ul class="list-group">
        {% for task in tasks %}
            <li class="list-group-item d-flex justify-content-between {{ task.status ? "checked" : "" }}">
                <a class="text-dark" href={{path('check', {'id':task.id})}}> {{ task.title }} </a> 
                <a class="btn btn-danger" href={{path('delete', {'id':task.id})}}> delete </a>
            </li>
        {% endfor %}
      </ul>
    </div>
{% endblock %}